:root {
    --heading-font: "PT Sans", sans-serif;
    --black: #000;
    --white: #fff;
    --primary: #b80257;
    --secondary: #783df0;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5em;
}

a {
    color: inherit;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
}
.header-wrapper {
    display: flex;
    width: 100%;
    min-height: 496px;
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-wrapper .inner {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* .header-wrapper .contact {
    position: relative;
} */



#checkbox:checked ~ .search-input-form {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.search-input-form {
    opacity: 0;
}

.search-input-form input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #ececec;
    padding: 0 49px 0 10px;
}

.search-input-form input:focus-visible {
    outline: none;
}

.search-input-form button {
    display: block;
    width: 48px;
    color: #fff;
    border: 1px solid #fff;
    border-left: none;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 4px;
    right: 5px;
    background-color: var(--primary);
}

.container {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    flex-direction: column;
}
.header-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--white);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.nav {
    display: flex;
}

.nav a {
    display: inline-block;
    padding: 20px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-weight: 700;
}

.action-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-input-form form {
    position: absolute;
    height: 55px;
    width: 280px;
    padding: 5px;
    border-radius: 0;
    right: 40px;
    top: 36px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    float: none;
    margin: 0;
    background: #fff;
    -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.23);
}
.action-wrapper label {
    cursor: pointer;
}

.action-wrapper label i {
    color: var(--white);
}

.action-btn {
    font-size: 2rem;
    color: var(--white);
}

h1.heading {
    font-size: 3.2rem;
    font-weight: 700;
}

.breadcrumb {
    display: flex;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: #fffc;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb li + li::before {
    content: "/";
    padding: 0 6px;
}

/* Start main  */

.main {
    margin-top: 110px;
    margin-bottom: 100px;
}

.main .inner {
    display: flex;
    gap: 30px;
}

.sidebar {
    width: 270px;
}

.main-content {
    flex-grow: 1;
}

.search-form {
    display: flex;
    align-items: center;
    height: 43px;

    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 1.5rem;
    font-style: italic;
    background: #eeeeee;
    height: 100%;
}
.search-input:focus::placeholder {
    opacity: 0;
}

.menu-title {
    margin-top: 30px;
    font-size: 2.4rem;
    color: #222;
}

.sidebar-shop-categories {
    margin: 60px 0;
}

.menu {
    margin-top: 20px;
}

.menu a {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    left: 0;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition:
        color ease 0.3s,
        left ease 0.4s;
}

.clearfix {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.clearfix .info-prd h6 {
    font-size: 1.5rem;
    font-weight: 500;
}

.clearfix .info-prd strong {
    font-weight: bold;
    font-size: 1.5rem;
}

.menu a:hover {
    color: var(--primary);
}

.search-btn {
    padding: 0 20px;
    align-self: stretch;
    background: var(--primary);
    color: var(--white);
    font-family: inherit;
    font-size: inherit;
}

/* Topics  */

.course-list {
    --column: 3;
    --spacing: 30px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
}

.course-item {
    display: flex;
    flex-direction: column;
    width: calc((100% / var(--column)) - var(--spacing));
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin-left: var(--spacing);
}

.course-item .thumb-wrapper {
    display: block;
    overflow: hidden;
}

.course-item .thumb-wrapper .thumb {
    transition: scale 0.6s ease-in-out;
}

.course-item .thumb-wrapper .thumb:hover {
    scale: 1.1;
}

.thumb-wrapper {
    position: relative;
}

.thumb-wrapper.icon-sale::after {
    content: "\e0b7";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    position: absolute;
    top: -66px;
    right: -78px;
    font-size: 2.4rem;
    color: var(--white);
    background-color: var(--primary);
    width: 140px;
    height: 100px;
    transform: rotate(35deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.course-item .thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-item .info {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 32px 0 35px 0;
    text-align: center;
}

.course-item .title a {
    font-size: 1.8rem;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 700;
}

.course-item .info .price {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 12px 0 15px 0;
}

.course-btn-cart {
    position: relative;
    text-decoration: none;
    width: 130px;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: var(--primary);
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.course-btn-cart::before {
    /* pointer-events: none; */
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(
        center,
        ellipse,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.course-btn-cart:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.course-btn-cart:hover::before {
    transform: translateY(5px);
    opacity: 1;
}

.course-item .desc {
    margin: 20px 0;
}

.nav li {
    position: relative;
}

.nav li:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 10px;
    min-width: 220px;
    background-color: var(--white);
    color: black;
    transition: all 0.15s ease-in-out;
}

.submenu a {
    display: flex;
    align-items: center;
    height: 44px;
    color: black;
    padding: 0 25px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.submenu a:hover {
    background-color: var(--primary);
    color: var(--white);
}

.course-item .course-btn {
    min-width: 66px;
    height: 32px;
    color: var(--white);
    background-color: var(--secondary);
    padding: 0 8px;
    margin-left: auto;
    border-radius: 30px;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
    transition: transform 0.5s;
}

.course-item .course-btn.price {
    background-color: var(--primary);
    font-weight: 700;
}

.course-item .course-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.course-pagination ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.course-pagination {
    padding-top: 45px;
}

.course-pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    margin: 0 4px;
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
}
.course-pagination a:hover {
  background-color: var(--secondary);
}

.course-pagination .arrow i {
    font-size: 1.2rem;
}


.course-pagination .next a {
    background-color: var(--secondary);
    color: var(--white);
    border: 1px solid var(--secondary);
}
/* FOOTER  */

footer a {
    text-decoration: none;
}

footer a:hover {
    transition: all 0.3s ease-in-out;
}

.container-footer {
    background-color: #151515;
    padding: 80px 0 160px 0;
}

footer .box-footer {
    color: #fff9;
    display: flex;
    justify-content: space-between;
}

footer .footer-logo-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 270px;
}

.footer .footer-logo-detail .footer-logo {
    height: 33px;
}
footer .footer-desc,
.footer-copyright {
    font-size: 1.4rem;
}

.footer-desc {
    line-height: 22px;
}
footer .down-app {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 22px;
}

footer .down-app img {
    height: 38px;
}

.footer-subscribe {
    max-width: 300px;
}
footer h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    margin: 8px 0 25px 0;
}

footer .footer-menu {
    display: block;
    font-size: 1.5rem;
    line-height: 30px;
}

footer .footer-menu a:hover {
    color: var(--primary);
}

.footer-subscribe input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0 20px;
    background: #272727;
    color: inherit;
    margin: 20px 0;
}

.footer-subscribe button {
    width: 95px;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: var(--primary);
    transition: 0.5s;
}

.footer-subscribe button:hover {
    background-color: var(--white);
    color: var(--primary);
}

/* SELECT FILTER  */

.top-select-section ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-select-section .box-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 45px;
    padding: 0 0 0 15px;
    gap: 10px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #6f6f6f;
    cursor: pointer;
}

.top-select-section .filter-option {
    display: inline-block;
    font-size: 1.6rem;
    text-align: left;
}

.top-select-section .arrow {
    margin-right: 10px;
}

.top-select-section .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.23);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}
.top-select-section .filter li {
    padding: 0 0 0 15px;
    width: 200px;
    height: 45px;
    line-height: 45px;
    transition: all 0.2s ease-in-out;
    font-size: 1.6rem;
}

.top-select-section .filter li:hover {
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
}

.top-select-section .filter .active {
    background-color: var(--primary);
    color: var(--white);
}

#select-toggle:checked ~ .filter {
    opacity: 1;
    visibility: visible;
}

.top-select-section .show {
    line-height: 45px;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.7);
}
.menu-nav i{
    display: none;
}
.submenu i {
    display: none;
}