body {
    font-family: "Roboto", sans-serif;
    background-color: #0d0d0f;
    box-sizing: border-box;
}

.register {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: #f0f0f5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: flex-start;

    margin: 0;
}

.logo .name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logo .name-website {
    margin: 0;
    font-size: 24px;
}

.logo .desc {
    margin: 0;
    font-size: 12px;
    color: #55555f;
}

.icon-logo {
    background: linear-gradient(
        90deg,
        rgba(227, 59, 227, 1) 0%,
        rgba(133, 15, 212, 1) 35%,
        rgba(0, 208, 250, 1) 100%
    );
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.register .join {
    margin: 50px 0 30px;
    font-size: 30px;
}

.register .introduce {
    width: 50%;
    background-color: #131316;
}

.register .introduce .desc-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 60px;
}

.register .introduce .desc-info .sub-item {
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #18181c;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #28282b;
}

.register .introduce .desc-info .sub-item:hover {
    border: 1px solid #3e3e3f;
}

.register .introduce .desc-info .text-ship {
    font-size: 14px;
}

.register .introduce .desc-info .sub-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #1e2432;
    border-radius: 8px;
}

.register .introduce .desc-info .sub-item .icon i {
    font-size: 12px;
}

.box-login {
    border: 1px solid #28282b;
    background-color: #18181c;
    border-radius: 10px;
    margin: 30px 60px 0 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.box-login .request-account {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.box-login .btn-login {
    background-color: #579cff;
    color: #f0f0f5;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box-login .btn-login:hover {
    box-shadow: 0px 10px 50px 5px rgba(0,0,0,0.1);
}

.container-right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.form-register {
    color: #f0f0f5;
    width: 60%;
}

.form-register .function {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    margin-bottom: 20px;
}

.form-register .function .lang {
    display: flex;
    align-items: center;
    gap: 4px;
}

.form-register .function .lang p {
    font-size: 10px;
    color: #9898a8;
}

.form-register .function i {
    color: #55555f;
    font-size: 12px;
}

.form-register .form {
    background-color: #18181c;
    padding: 20px;
    border-radius: 10px;
}

.form-register .form h2 {
    margin: 0;
}

.form-register .start-register {
    font-size: 12px;
    color: #9498a8;
}

.form-register .form label {
    font-size: 12px;
    color: #55555f;
    font-weight: 600;
    margin-top: 16px;
    text-transform: uppercase;
}

.form-register .form input {
    background-color: #18181c;
    border: 2px solid #28282b;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: #f0f0f5;
    font-size: 12px;
}

.form-register .form input::placeholder {
    font-size: 12px;
    color: #55555f;
}

.form-register .form input:focus {
    outline: none;
    border: 2px solid #2055b1;
}

.form .detail {
    font-size: 10px;
    color: #55555f;
    font-weight: 600;
}

.input-field {
    margin: 10px 0;
}

.input-field.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: left;
}

/* .form-register .form input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid black;
    border-radius: 0.25rem;
    color: white;
} */

.btn-right-register {
    background-color: #579cff;
    color: #f0f0f5;
    padding: 12px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.btn-next {
    font-size: 12px;
    text-align: center;
    color: #9898a8;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-next a {
    color: #bf5ad0;
    text-decoration: none;
    font-weight: 600;
}

.btn-next .back-home {
    font-size: 10px;
    text-align: center;
    color: #55555f;
    font-weight: 500;
}



.btn-next .back-home:hover {
    
    color: #98989e;
    cursor: pointer;
}
@media (max-width: 768px) {
  .register {
    flex-direction: column;
  }

  .register .introduce {
    width: 100%;
    margin-bottom: 30px;
  }

  .register .container-right {
    width: 100%;
  }
}
